/*section{
    padding: 75px 0;
}

.container{
    max-width: 100%;
    width: 1440px;
    padding: 0 1.25rem;
    margin:0 auto;
}

@media screen and (max-width:1024px){
    .container{
        width: 100%;
    }
    section{
        padding: 35px 0;
    }
}*/

.container{
    max-width: 100%;
    width: 1440px;
    padding: 0 1.25rem;
    margin:0 auto;
}
@media screen and (max-width:1024px){
    .container{
        width: 100%;
    }
}

.upload-container{
    height: 100%;
    background-color: #ffff;
    display: grid;
    grid-template-columns: 300px auto;
}

@media screen and (max-width:1090px) {
    .upload-container{
        display: block;
    }
}